//BASIC RESET
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// FONTS
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap');

body, html {
  height: 100%;
  font-family: 'Graduate', cursive;
}

body {
  text-align: center;
  min-height: 100%;
  background-color: #000;
  position: relative;
}

//HEADER & FOOTER
header,
footer {
  background-color: #000;
  color: #FFF;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}

header {
  font-size: clamp(1.6rem, 4vw, 3rem);
}

.header-title-link {
  text-decoration: none;
  color: #FFF;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-item {
  color: #FFF;
  margin: .6em 0;
  font-size: clamp(.8rem, .9vw, 2rem);
  padding: 1.5rem 1rem;
  transition: color .3s ease-in-out;
}

.nav-item:hover {
  color: #989bff;
}

.page-title-active {
  font-size: clamp(1.5rem, .7vw, 2.6rem);
  padding: 1rem;
}

// LOGIN PAGE
.container {
  min-height: 100%;
  position: relative;
  background-image: url(../assets/132330196_m.jpg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.login-form,
.wrapper {
  -webkit-box-shadow: 0 1px 1px rgb(0, 0, 0 / 15%), 0 2px 2px rgb(0, 0, 0 / 15%);
  box-shadow: 0 1px 1px rgb(0, 0, 0 / 15%), 0 2px 2px rgb(0, 0, 0 / 15%);
}

.login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 400px;
  border-radius: 3px;
  background-color:rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.form-title {
  font-size: 1.2em;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-fields > * {
  align-self: center;
}

.form-label {
  font-weight: 600;
  padding: 20px 0 5px;
}

.form-input {
  width: 100%;
  min-height: calc(0.9em + (0.8em *2)+ 0.6em);
  padding: 0.8em;
  font-size: 0.9em;
  text-align: center;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #FFF;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s;
}

.form-input::placeholder {
  color: rgb(152, 151, 151);
}

// Button Submit
.btn {
  font-weight: bold;
  font-family: 'Graduate';
  font-size: 1rem;
  padding: 10px 16px;
  margin: 1rem 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-position: 400px 0;
  color: #FFF;
}

.btn-blue {
  background: -webkit-linear-gradient(0deg, transparent 50%, #1419b6 50%);
  background-size: 800px 80px;
  border: 2px solid #1419b6;
  color: #1419b6;
  transition: background-position 0.3s;
}

.btn-green {
  background: -webkit-linear-gradient(0deg, transparent 50%, #4d8e18 50%);
  background-size: 800px 80px;
  border: 2px solid #4d8e18;
  color: #4d8e18;
  transition: background-position 0.3s;
  margin-top: 1rem;
}

.btn-red {
  background-color: #8e3218;
  background: -webkit-linear-gradient(0deg, transparent 50%, #8e3218 50%);
  background-size: 800px 80px;
  border: 2px solid #8e3218;
  color: #8e3218;
  transition: background-position 0.3s;
}

.form-inscription-link {
  font-size: .8em;
}

// INSCRIPTION PAGE
.form-fields-block {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #FFF;
}

.gender {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.miss, .mister{
  padding: .5rem;
}

.block {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.inscription-container {
  background-image: url(../assets/132330196_m.jpg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: ce;
}

.wrapper {
  background-color:rgba(255, 255, 255, 0.9);
  margin: 7rem;
}

.form-fields .form-title {
  margin: 2rem 0 0;
}

// SEARCH

.results-wrapper {
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.result-player {
  min-width: 100px;
  min-height: 200px;
  width: 180px;
  border-radius: 5px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: 'sans serif';
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 1px rgb(0, 0, 0 / 15%), 0 2px 2px rgb(0, 0, 0 / 15%);
  box-shadow: 0 0px 1px rgb(0, 0, 0 / 15%), 1px 1px 2px rgb(0, 0, 0 / 15%);
}

// MEDIA QUERIES
@media screen and (max-width: 800px) {

  .form-fields-block {
    display: block;
  }

  .wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 2rem;
    padding: 0 0 6rem;
  }

  .btn-green {
    width: 50%;
    margin: auto;
    margin-top: 1rem;
  }
}