@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Graduate', cursive;
}

body {
  text-align: center;
  min-height: 100%;
  background-color: #000;
  position: relative;
}

header,
footer {
  background-color: #000;
  color: #FFF;
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .8rem;
}

header {
  font-size: clamp(1.6rem, 4vw, 3rem);
}

.header-title-link {
  text-decoration: none;
  color: #FFF;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-item {
  color: #FFF;
  margin: .6em 0;
  font-size: clamp(0.8rem, 0.8vw, 2rem);
  padding: 1.5rem 1rem;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.nav-link {
  text-decoration: none;
}

.nav-item:hover {
  color: #6d72f4;
}

.page-title-active {
  font-size: clamp(1.5rem, 0.7vw, 2.6rem);
  padding: 1rem;
}

.container {
  min-height: 100%;
  position: relative;
  background-image: url(../assets/132330196_m.jpg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.wrapper {
  margin: 7rem;
  height: 100%;
}

.wrapper-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  background-color: rgba(255, 255, 255, 0.9);
}

.login-form {
  width: 300px;
  max-width: 400px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.form-title {
  font-size: 1.2em;
  margin: 1rem 0;
}

.form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-fields > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form-label {
  font-weight: 600;
  padding: 20px 0 5px;
}

.form-input {
  width: 100%;
  min-height: calc(0.9em + (0.8em *2)+ 0.6em);
  padding: 0.8em;
  font-size: 0.9em;
  text-align: center;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #FFF;
  -webkit-transition: background-color 0.25s, border-color 0.25s, color 0.25s;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s;
}

.form-input::-webkit-input-placeholder {
  color: #989797;
}

.form-input:-ms-input-placeholder {
  color: #989797;
}

.form-input::-ms-input-placeholder {
  color: #989797;
}

.form-input::placeholder {
  color: #989797;
}

.btn {
  font-weight: bold;
  font-family: 'Graduate';
  font-size: 1rem;
  padding: 10px 16px;
  margin: 1rem 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-position: 400px 0;
  color: #FFF;
}

.btn-blue {
  background: -webkit-linear-gradient(0deg, transparent 50%, #1419b6 50%);
  background-size: 800px 80px;
  border: 2px solid #1419b6;
  color: #1419b6;
  -webkit-transition: background-position 0.3s;
  transition: background-position 0.3s;
}

.btn-green {
  background: -webkit-linear-gradient(0deg, transparent 50%, #4d8e18 50%);
  background-size: 800px 80px;
  border: 2px solid #4d8e18;
  color: #4d8e18;
  -webkit-transition: background-position 0.3s;
  transition: background-position 0.3s;
  margin-top: 1rem;
}

.btn-red {
  background-color: #8e3218;
  background: -webkit-linear-gradient(0deg, transparent 50%, #8e3218 50%);
  background-size: 800px 80px;
  border: 2px solid #8e3218;
  color: #8e3218;
  -webkit-transition: background-position 0.3s;
  transition: background-position 0.3s;
}

.form-inscription-link {
  font-size: .8em;
}

.form-fields-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #FFF;
}

.gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.miss, .mister {
  padding: .5rem;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.inscription-container {
  background-image: url(../assets/132330196_m.jpg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: ce;
      -ms-flex-align: ce;
          align-items: ce;
}

.results-wrapper {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.result-player {
  min-width: 100px;
  min-height: 200px;
  width: 180px;
  border-radius: 5px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  font-family: 'sans serif';
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 1px black, 0 2px 2px black;
  box-shadow: 0 0px 1px black, 1px 1px 2px black;
}

@media screen and (max-width: 800px) {
  .form-fields-block {
    display: block;
  }
  .wrapper {
    margin: 2rem;
    padding: 0 0 6rem;
  }
  .btn-green {
    width: 50%;
    margin: auto;
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */